@keyframes books-page{
    0%{}
    100%{rotate: y -180deg}
}

@mixin page-scroll () {
    animation: books-page 3s infinite;
    -webkit-animation: books-page 3s infinite;
    transform-origin: 0% 0%;
}

@keyframes blinking{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

@mixin blink-loader {
    animation: blinking 2s infinite linear;
    -webkit-animation: blinking 2s infinite linear;
}