//BOOKS_PAGE
@keyframes books-page{
    0%{}
    100%{rotate: y -180deg}
}
@mixin page-scroll () {
    animation: books-page 3s infinite;
    -webkit-animation: books-page 3s infinite;
    transform-origin: 0% 0%;
}

//BLINK
@keyframes blinking{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
@mixin blink-loader {
    animation: blinking 2s infinite linear;
    -webkit-animation: blinking 2s infinite linear;
}

//SHOW WELCOME
@keyframes show {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@mixin show($duration){
    animation: show $duration ease;
    -webkit-animation: show $duration ease;
}

//BUY BOOK
@keyframes buyBook{
    0%{rotate: y 0deg;}
    50%{margin-top: 3rem;}
    100%{margin-top: -500vh;}
}
@mixin slideBook(){
    animation: buyBook 3s ease;
    -webkit-animation: buyBook 3s ease;
}
.bought{
    @include slideBook();
}

//ONSCROLL ANIMATIONS
.slideX{
    margin-left: 0 !important;
    transition: margin-left 1s ease;
    -webkit-transition: margin-left 1s ease;
    -moz-transition: margin-left 1s ease;
    -ms-transition: margin-left 1s ease;
    -o-transition: margin-left 1s ease;
}

.slideY{
    margin-top: 0 !important;
    transition: margin-top 1s ease;
    -webkit-transition: margin-top 1s ease;
    -moz-transition: margin-top 1s ease;
    -ms-transition: margin-top 1s ease;
    -o-transition: margin-top 1s ease;
}

.scrollShow{
    opacity: 1 !important;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
}

@mixin fixedPosition($top, $right, $bottom, $left) {
    position: fixed;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

.detailFixed{
    @include fixedPosition(48px, 2rem, none, none);
    width: calc(100% / 12 * 4);
}