@import './Prop-Compatibilities';
@mixin fantasy (){
    background-color:#25bea0;
    color: #374353;
    border-color: #374353;
}
.fantasy{
    @include fantasy();
    button{
        font-weight: 600;
        background-color: white;
        border: #374353 2px solid;
        @include borderRadius(5px);
        &:hover{
            background-color: rgba($color: #25bea0, $alpha: .5)
        }
    }
    .button-active{
        background-color: rgba($color: #25bea0, $alpha: .5)
    }
    h3{
        color: #374353;
        -webkit-text-stroke: .5px #25bea0;
    }
    .book{
        box-shadow: 10px 10px 20px rgba($color: #25bea0, $alpha: .5);
        &:hover{
            box-shadow: 0 0 25px rgba($color: #25bea0, $alpha: .5);
        }
    }
}

@mixin history () {
    background-color: #ff4838;
    color: #162b32;
    border-color: #ff4838;
}
.history{
    @include history();
    button{
        font-weight: 600;
        background-color: white;
        border: #ff4838 2px solid;
        @include borderRadius(5px);
        &:hover{
            background-color: rgba($color: #ff4838, $alpha: .5)
        }
    }
    .button-active{
        background-color: rgba($color: #ff4838, $alpha: .5)
    }
    h3{
        color: #162b32;
        -webkit-text-stroke: .5px #ff4838;
    }
    .book{
        box-shadow: 10px 10px 20px rgba($color: #ff4838, $alpha: .5);
        &:hover{
            box-shadow: 0 0 25px rgba($color: #ff4838, $alpha: .5);
        }
    }
}

@mixin horror () {
    background-color: #020000;
    color: #dd2424;
    border-color: #4d0000;
}
.horror{
    @include horror();
    button{
        font-weight: 600;
        background-color: #020000;
        color: #dd2424;
        border: #4d0000 2px solid;
        @include borderRadius(5px);
        &:hover{
            background-color: rgba($color: #4d0000, $alpha: .5)
        }
    }
    .button-active{
        background-color: rgba($color: #4d0000, $alpha: .5)
    }

    h3{
        color: #dd2424;
        -webkit-text-stroke: .5px  #4d0000;
    }
    .book{
        box-shadow: 20px 20px 10px rgba($color: #4d0000, $alpha: .5);
        &:hover{
            box-shadow: 0 0 25px rgba($color: #4d0000, $alpha: .5);
        }
    }
}

@mixin romance () {
    background-color: #fbc8d6;
    color: #f70424;
    border-color: #f0a1a5;
}
.romance{
    @include romance();
    button{
        font-weight: 600;
        background-color: #fbc8d6;
        color: #f70424;
        border:  #f0a1a5 2px solid;
        @include borderRadius(5px);
        &:hover{
            background-color: rgba($color:  #f0a1a5, $alpha: .5)
        }
    }
    .button-active{
        background-color: rgba($color:  #f0a1a5, $alpha: .5)
    }

    h3{
        color: #f70424;
        -webkit-text-stroke: .5px   #f0a1a5;
    }
    .book{
        box-shadow: 20px 20px 10px rgba($color: #f70424, $alpha: .5);
        &:hover{
            box-shadow: 0 0 25px rgba($color: #f70424, $alpha: .5);
        }
    }
}

@mixin scifi () {
    background-color: #01012b;
    color: #d1f7ff;
    border-color: #ff2a6d;
    -webkit-text-stroke-color: #05d9e8;
}
.scifi{
    @include scifi();
    button{
        font-weight: 600;
        background-color: #01012b;
        color: #d1f7ff;
        border:  #ff2a6d 2px solid;
        @include borderRadius(5px);
        &:hover{
            background-color: rgba($color: #d1f7ff, $alpha: .5)
        }
    }
    .button-active{
        background-color: rgba($color: #d1f7ff, $alpha: .5)
    }

    h3{
        color: #d1f7ff;
        -webkit-text-stroke: .5px   #05d9e8;
    }
    .book{
        box-shadow: 20px 20px 10px rgba($color:#05d9e8, $alpha: .5);
        &:hover{
            box-shadow: 0 0 25px rgba($color:#05d9e8, $alpha: .5);
        }
    }
}
